
/* Header */
@media screen and (max-width: 1600px) {
    /* FEATURES */
    .ga-features {
        padding-left: 10.5%;
    }
}
@media screen and (max-width: 1440px) {
     /* HEADER */
    .ga-header-bg {
        background-position: 120% 30px;
    }
    .ga-header--desktop ul {
        margin-right: 40px;
    }
    .ga-header--desktop li {
        margin-right: 12px; 
    }
    .ga-header--desktop li a,
    .ga-header--desktop .login {
        padding: 12px;
    }
    .ga-header--desktop .login {
        margin-right: 12px;
    }
    /* FEATURES */
    .ga-features {
        padding-left: 8.5%;
    }
}
@media screen and (max-width: 1280px) {
     /* HEADER */
    .ga-header-bg {
        background-position: 140% 30px;
    }
    .ga-header--desktop ul{
        margin-right: 20px;
    }
    .ga-header--desktop li {
        margin-right: 4px; 
    }
    .ga-header--desktop li a,
    .ga-header--desktop .login {
        padding: 8px;
    }
     /* FEATURES */
     .ga-features {
        padding-left: 10.5%;
    }
}
@media screen and (min-width: 1024px) {
     /* HEADER */
    .ga-mobile-menu { display: none;}
    .ga-header--desktop {display: flex;}
}
@media screen and (max-width: 1024px) {
    /* HEADER */
    .ga-header-bg {
        background-position: 100% 100%;
        padding-bottom: 800px;
    }
    .ga-mobile-menu {
        display: block;
        overflow: hidden;
    }
    .ga-mobile-menu .logo {
        margin-left: 40px;
    }
    .ga-header--desktop {display: none;}

    /* HERO */
    .ga-hero { padding-top: 160px;}
    .ga-hero .hero-action {
        flex-wrap: wrap;
    }
    /* PUBLISHERS */
    .ga-publishers_items li{
        margin-bottom: 32px;
    }
    .ga-publishers_items li:first-child .ga-publisher--feedback {
        left: 0;
    }
    .ga-publishers_items li:first-child .ga-publisher--feedback:after {
        left: 20%;
    }
    .ga-publishers_items li:last-child .ga-publisher--feedback {
        left: inherit;
        right: 0;
    }
    .ga-publishers_items li:last-child .ga-publisher--feedback:after {
        left: 80%;
    }
    /* EVENTS */
    .ga-events {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        flex-direction: column-reverse;
    }
    .ga-event-cards {
        flex: auto;
        padding-right: 0;
        margin-bottom: 80px;
    }
    .ga-events .ga-text-section {
        max-width: 620px;
    }
     /* FEATURES */
     .ga-features {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding-right: 10.5%;
     }
    /* INBOX BANNER */
    .ga-inbox {
        flex-wrap: wrap;
    }
    .ga-inbox-form {
        margin-top: 24px;
    }
    .ga-inbox-form input,
    .ga-inbox-form .ga-btn-primary {
        margin-bottom: 24px;
    }
    .ga-inbox .ga-title {
        flex: auto;
    }
     /* FOOTER */
     .ga-footer_top {
        flex-wrap: wrap;
     }
     .ga-footer_list:first-child {
         width: 100%;
         border-bottom: 1px solid var(--block-bg-dark);
         padding-bottom: 12px;
         margin-bottom: 24px;
         margin-right: 0;
     }
     .ga-footer_bottom {
         background-color: var(--main-bg-color);
     }
}

@media screen and (max-width: 600px) {
    /* FOOTER */
    .ga-footer_list {
        width: 200px;
    }
    /* PUBLISHERS */
    .ga-publishers_items li:hover .ga-publisher--feedback {
        display: none;
    }
}