.ga-modal,
.ga-modal-box {
  z-index: 900;
}

.ga-modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.ga-modal {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);
  overflow: auto;
}

.ga-modal-box {
  position: relative;
  width: 80%;
  max-width: 920px;
  margin: 100px auto;
  padding: 56px;
  animation-name: modalbox;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(0,0,.3,1.6);
  background-color: var(--block-bg-light);
  border-radius: var(--border-radius-small);
}

.ga-modal-body {
	background-color: var(--block-bg-light);
}
.ga-modal-body video {
	width: 100%;
}

/* Close Button */
.ga-close-modal {
	position: absolute;
	right: -34px;
	top: -34px;
	text-align: right;
	cursor: pointer;
	width: 70px;
	height: 70px;
	padding: 30px;
	border-radius: 50%;
	background-color: var(--primari-color);
	background-image: url(images/close.svg);
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: -3px 17px;
}

/* Animation */
@-webkit-keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}
