body {
    margin: 0;
    font-family: 'din', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    background-color: var(--main-bg-color);
}
/* HEADER */
.ga-header-bg {
    max-width: 1520px;
    margin: 0 auto;
    background: url(images/home-hero-img.png) no-repeat 100% 30px;
    background-size: contain;
    padding-bottom: 160px;
}
.ga-header {
    max-width: 1520px;
    margin: 0 auto;
}
.ga-header--desktop {
    align-items: center;
    padding: 60px 40px 160px 40px;
}
.ga-header .logo {
    display: block;
    width: 264px; 
    height: 34px;
    background: url(images/Logo-normal.svg) no-repeat 0 0;
    cursor: pointer;
}
.ga-desktop-menu {
    display: flex;
    flex: 1;
    align-items: center;
    align-content: center;
    justify-content: flex-end; 
}
.ga-desktop-menu ul {
    display: flex;
    margin-right: 80px;
    font-weight: normal; 
}
.ga-desktop-menu li {
    display: inline-block; 
    margin-right: 12px; 
}
.ga-header li a,
.ga-header .login {
    color: var(--text-color);
    cursor: pointer; 
    display: block; 
    padding: 12px 24px;
    border-radius: var(--border-radius-small);
}
.ga-header li a:hover,
.ga-header .login:hover {
    background-color: var(--block-bg-dark);
}
.ga-header .actions {
    display: flex;
    justify-content: flex-end;
}
.ga-header .login {
    margin-right: 24px;
}
.ga-header .actions button {margin-bottom: 0;}



/* HERO */
.ga-hero { 
    padding: 0 40px;
}
.ga-hero .ga-text-block {
    max-width: 610px;
}
.ga-hero .hero-action {display: flex;}
.ga-hero .ga-btn-primary {
    margin-right: 24px;
}
.ga-hero .ga-btn-primary .icon-play {
	background: url(images/play.svg) no-repeat;
}

/* PUBLISHERS */
.ga-publishers {
    padding: 50px 40px;
}
.ga-publishers_title {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 32px;
    font-weight: medium;
}
.ga-publishers_items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ga-publishers_items li{
    margin-right: 60px;
    position: relative;
    cursor: pointer;
}
.ga-publishers_items li:last-child{
    margin-right: 0;
}
.ga-publishers_items li .ga-publisher--feedback {
    position: absolute;
    width: 580px;
    height: auto;
    bottom: 100px;
    left: -210px;
    display: none;
}
.ga-publishers_items li:hover .ga-publisher--feedback {
    display: block;
}

/* EVENTS */
.ga-events {
    display: flex;
    align-items: center;
    padding: 160px 120px;
    box-sizing: border-box;
}
.ga-event-cards {
    flex: 1;
    padding-right: 120px;
}
.ga-events .ga-text-section {
    flex: 1;
}
/* INBOX BANNER */
.ga-inbox-bg {
    background-color: var(--primari-color);
    padding: 60px 0; 
}
.ga-inbox {
    display: flex; 
    padding: 0 40px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
.ga-inbox .ga-title {
    margin-bottom: 0;
    margin-right: 32px;
    flex: 1;
}
.ga-inbox .ga-title * {
    display: block;
}
.ga-inbox-form {
    flex: 1; 
    display: flex;
    align-items: center; 
}
.ga-inbox-form .ga-btn-primary {
    margin-bottom: 0;
}
.ga-inbox-form input{ 
    width: 100%;
    max-width: 400px; 
    min-width: 200px; 
    border-radius: var(--border-radius-small);
    background-color: #fff;
    border: none;
	padding: 16px 32px;
	font-weight: 300;
	font-size: 14px;
	color: var(--block-bg-darker);
	cursor: pointer;
    margin-right: 24px;
}
.ga-inbox-form input::placeholder {
    color: var(--block-bg-darker);
}

/* FEATURES */
.ga-features {
    position: relative;
    overflow: hidden;
    padding-bottom:160px;
    display: flex;
    align-items: center;
    padding-left: 16.5%;
    box-sizing: border-box;
}
.ga-features .ga-text-section {
    margin-right: 70px;
    padding-right: 40px;
    flex: 1;
    max-width: 620px;
    box-sizing: border-box;
}

/* Analytics */
.ga-blue-gradient {
    background: radial-gradient(ellipse farthest-side at left, #374972,  #151829);
    margin-top: -160px;
}
.ga-analytics {
    margin-top: 160px;
    padding: 0 40px 324px 40px;
}
.ga-analytics .ga-text-block,
.ga-engines .ga-text-block {
    text-align: center;
    margin: 0 auto;
}
.ga-analytics .ga-text-block {
    margin-bottom: 148px;
}
.ga-analytics_blocks {
    display: flex;
    justify-content: center;
    z-index: 1;
}
.ga-analytics .ga-card {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
	border-radius: var(--border-radius-big);
    box-sizing: border-box;
    padding: 72px;
    max-width: 480px;
    margin-bottom: 48px;
    background-color: var(--block-bg-light);
}
.ga-analytics .ga-card-center {
    background-color: #222535;
    z-index: 2;
    margin: 0;
    margin-top: -48px;
}
.ga-analytics .ga-card:first-child {
    margin-right: -12px;
}
.ga-analytics .ga-card:last-child {
    margin-left: -12px;
}
.ga-analytics .ga-card h3 {
    position: relative;
    font-size: 42px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 56px;
    text-align: center;
}
.ga-analytics .ga-card h3 span {
    position: absolute;
    top: -20px;
    right: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: var(--secondary-color);
}
.ga-analytics .ga-card li {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 40px;
}

/* Engines */
.ga-engines {
    margin-bottom: 200px;
}
.ga-engines-logos {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.ga-engines_actions {
    display: flex;
    justify-content: center;
}
.ga-engines_actions .ga-btn-primary {
    margin-right: 24px;
}

/* Insights */
.ga-insights {
    padding-right: 120px;
    margin-bottom: 8git0px;
}
.ga-insights > div {
    display: flex;
    align-items: center;
}
.ga-insights-img {
    background: url(images/insights.png) no-repeat top right;
    background-size: cover;
    height: 988px;
    max-width: 920px;
    width: 100%;
    border-radius: 12px;
}
.ga-insights-desc {
    margin-left: 120px;
    max-width: 620px;
}
.ga-insights-desc_item {
    margin-bottom: 80px;
}
.ga-insights-desc_item img{
    margin-bottom: 32px;
}
.ga-insights-desc_item.middle {
    margin-left: 60px;
}
.ga-insights-desc_item .ga-title {
    font-size: 42px;
}
.ga-insights-desc_item .desc {
    font-size: 20px;
    font-weight: normal;
}
.ga-insights-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
/* FOOTER */
.ga-footer {
    font-size: 16px;
    font-weight: 300;
    padding: 76px 0 0;
    background-color: var(--block-bg-darker);
}
.ga-footer_top {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
}
.ga-footer_list {
    margin-bottom: 24px;
}
.ga-footer_list:first-child {
    margin-right: 32px;
    width: 300px;
}
.ga-footer_bottom {
    text-align: center;
    padding: 32px 0;
}
.ga-footer h3 {
    color: #fff; 
    margin-bottom: 16px; 
    font-weight: bold;
}
.ga-footer li {padding-bottom: 10px;}
.ga-footer li:hover {
    color: var(--secondary-color); 
    cursor: pointer;
}
.ga-footer .ga-logo {
    display: block;
    width: 186px; 
    height: 24px;
    background: url(images/logo-small.svg) no-repeat 0 0;
    cursor: pointer;
    margin-bottom: 24px;
}
.ga-logo-description {
    margin-bottom: 24px;
}
.ga-social-links li {
    display: inline-block; 
    padding-right: 16px; 
    margin-bottom: 16px;
}
.ga-social-links li:last-child {
    display: block;
    padding: 0;
}

.features {display: flex; color: #fff; padding: 0 100px; position: relative; z-index: 2; margin-top: -130px;}
.features .box{padding: 40px 60px; background: #1f1e21; margin-right: 10px;}
.features .box:last-child{margin-right: 0px;}
.features .box h2 {font-size: 40px; font-weight: bold; line-height: 1; width: 140px; margin-bottom: 40px;color: #fff; border-top: 10px solid #4650F0;margin-left: -60px;padding: 13px 80px 37px 60px;}
.features .box.middle h2{border-top: 10px solid #14F0AF;}
.features .box.last h2{border-top: 10px solid #FFCE00;}
.features .box ul li{ padding: 0 0 30px 0; font-size: 16px; color: #cacaca;}
.button-link {display: flex; color: #fff; padding: 14px 8px 8px 16px; font-size: 14px;font-weight: 500;font-weight: 500; border: 1px solid #fff; }
.button-link:after {content: ''; display: block; margin-left: 20px; background: url(images/ic_arrow_forward.svg) no-repeat; width: 26px; height: 23px;margin-top: 3px; }
.button-link.dark {color: #000; border-color:#000 ;}
.hero-images img {position: absolute;}
.button-link.dark:after { background: url(images/arrow-dark.svg) no-repeat;}

.content { margin-top: -38px; z-index: 1;}
.section-yellow {margin-left: 300px; position: relative; background: url(images/yellow-bg.png) no-repeat 100% 264px;}
.section-yellow .title  {font-size: 70px; color: #fff; font-weight: bold; padding: 305px 60px 100px 0; position: relative; z-index: 10; margin-left: -185px;}
.section-yellow .title span {display: block; margin-left: 449px;line-height: 1;}
.section-yellow .icon {position: absolute; top: 100px; right: 50%;}
.section-yellow .icon.one { top: 100px; right: 50%; width: 195px; height: 198px; background-image: url(images/icon1.png);}
.section-yellow .icon.two { top: 388px; left: 900px; width: 123px; height: 123px; background-image: url(images/icon2.png);}
.section-yellow .icon.tree { top: 227px; right: 100px; width: 124px; height: 119px;background-image: url(images/icon3.png);}
.section-yellow .icon.four { top: 600px; right: 50%; width: 95px; height: 97px;background-image: url(images/icon4.png);}
.section-yellow .icon.five { top: 550px; right: 10%; width: 114px; height: 90px;background-image: url(images/icon5.png);}
.btn-banner {color: #fff; padding: 22px 40px 18px; cursor: pointer; font-size: 16px;font-weight: bold;border: 2px solid #fff;}


.steps-title {background: url(images/blue.png) no-repeat; padding-left: 100px; margin-top: 100px; position: relative; z-index: 2;}
.steps-title h2  {padding-top: 95px; color: #fff;font-size: 70px;font-weight: bold; width: 450px; display: flex; align-items: flex-end; line-height: 1;}
.steps-title h2 span { font-size: 333px;padding-right: 20px;line-height: 0.8;margin-top: -175px;}
.steps-title h2 strong {flex:1;margin-bottom: 33px;}
.steps-container {display: flex; padding-top: 120px;}
.step {padding-right: 80px; margin-left: 100px; min-width: 330px;}
.step li {color: #fff; font-size: 40px;font-weight: bold; padding: 10px 0;}
.step li:hover,
.step li.active {color: #4E75E7; cursor: pointer;}
.step-description {display: flex; flex:1; flex-wrap: wrap;margin-top: -230px; z-index: 1; padding:250px 40px 80px; background-color: #1f1e21;}
.step-description .text {width: 500px; color:#cacaca; }
.step-description h3 {font-weight: bold; font-size: 20px; color: #fff; margin-bottom: 20px;}
.step-description .button-link {margin-top: 108px;margin-bottom: 40px;}
.code {flex:1; background-color: #1A1A1A; padding: 40px 40px 40px 40px; color:#929292;}


.insights {display: flex; color: #fff;}
.insights h2 {margin-bottom: 100px; padding-top: 160px; color: #fff;font-size: 70px;font-weight: bold; line-height: 1;}
.insights .desc { margin: 0 100px 0 -310px; flex:1;}
.insights .desc div { padding-bottom: 40px;padding-right: 20px; min-width: 240px;}
.insights .desc .last {padding-right: 0;}
.insights .desc h3{max-width: 220px;color: #fff;font-size: 40px;font-weight: bold;  border-top: 10px solid #4048C8;line-height: 1.3; padding-top: 20px; color: #4650F0;}
.insights .desc h3 span {color: #fff; }
.insights .desc .middle h3{border-top: 10px solid #14F0AF; color: #14F0AF;}
.insights .desc .last h3{border-top: 10px solid #FFCE00; color:#FFCE00; }
.insights .desc p {padding: 20px 0; max-width: 330px; color: #cacaca;}
.insights .desc .flex {display:flex; justify-content: space-between;}
.insights .desc .text { display: flex;flex-wrap: wrap;margin: 40px -100px 0 0; font-size: 16px;padding: 0 0 60px 0; }
.insights .desc .text img {width: 709px;height: 594px;}
.insights .desc .text button {margin-top: 100px;}
.insights .desc .text div{flex: 1;}
.insights .desc .text p { width: 100%; margin-bottom: 20px;}
.insights .fire{display: block;}





.flex-layout {display: flex;}
.flex-grow {flex-grow: 1;}
.flex_1 {flex: 1;}
.flex-between {justify-content: space-between;}
.align-right {text-align: right;}
.pb-24 {padding-bottom: 24px;}
.pb-64 {padding-bottom: 64px;}
.fs-12 {font-size: 12px;} 
