/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

.ga-slider-wrap {
	overflow: hidden;
    flex: 1;
    position: relative;
    width: 100%;
    max-width: 900px;
	height: 820px;
    max-height: 820px;
    /* background-color: var(--block-bg-dark); */
	box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.01);
	border-radius: var(--border-radius-big);
    box-sizing: border-box;
    padding-bottom: 50px;
}

/* SLIDER */

.ga-slider-wrap .ga-slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.ga-slider-wrap .ga-slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
	border-radius: 12px;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.ga-slider-wrap .ga-prevNext {
	position: absolute;
    z-index: 1;
	bottom: 10%;
	left: 235px;
    width: 240px;
    height: 60px;
    background: rgba(19,22,39,0.8);
    border-radius: 8px;
    padding: 24px;
    box-sizing: border-box;
}

.ga-slider-wrap .ga-prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.ga-slider-wrap .ga-prevNext a {
	position: absolute;
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 16px;
	top: 29px;
	width: 0; 
	height: 0; 
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-radius: 2px;
	border-right: 16px solid #252737;
}
.ga-slider-wrap .ga-prevNext a:hover {
	opacity: 1;
	border-right: 16px solid var(--primari-color);
}
.ga-slider-wrap .ga-prevNext a+a {
	left: auto;
	right: 16px;
	border-left: 16px solid #252737;
	border-right: none;
}
.ga-slider-wrap .ga-prevNext a+a:hover {
	border-left: 16px solid var(--primari-color);
	border-right: none;
}

/* NAVIGATION */

.ga-slider-wrap .ga-bullets {
	position: absolute;
    z-index: 2;
    bottom: 11%;
    padding: 10px 0;
    width: 168px;
    text-align: center;
	left: 270px;
}
.ga-slider-wrap .ga-bullets > a {
	display: inline-block;
	width:       16px;
	height:      16px;
	line-height: 16px;
	text-decoration: none;
	text-align: center;
	background: var(--primari-color);
	-webkit-transition: 0.3s;
					transition: 0.3s;
	margin: 0 9px;
}
.ga-slider-wrap .ga-bullets > a+a {
	background: #252737 /* Dim all but first */
}
.ga-slider-wrap .ga-bullets > a:hover {
	background: var(--primari-color) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.ga-slider-wrap >s:target ~ .ga-bullets >* {      background: #252737;}
/* ACTIVE */
#s1:target ~ .ga-bullets >*:nth-child(1) {background: var(--primari-color);}
#s2:target ~ .ga-bullets >*:nth-child(2) {background: var(--primari-color);}
#s3:target ~ .ga-bullets >*:nth-child(3) {background: var(--primari-color);}
#s4:target ~ .ga-bullets >*:nth-child(4) {background: var(--primari-color);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.ga-slider-wrap >s:target ~ .ga-prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .ga-prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .ga-prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .ga-prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .ga-prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .ga-slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .ga-slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .ga-slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .ga-slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   ga-slider-wrap CUSTOM STYLES / OVERRIDES HERE: */

.ga-slider-wrap{	
	text-align: center;
}
.ga-slider-wrap a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}
.ga-slide.one,
.ga-slide.tree {
	background: url(../images/explore-tool.png) no-repeat;
	background-size: cover;
}
.ga-slide.tow,
.ga-slide.four {
	background: url(../images/mobile-app.png) no-repeat;
	background-size: cover;
}